#dash {
  width: calc(100vw - 2rem);
  position: absolute;
  top: 10vh;
  animation: slide-in 2s;
  margin: 1rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  box-shadow: 0.5vh 0.5vh 1vh 0.5vh #15151530;
}

.image > object {
  height: 5vh;
}
.doctor {
  padding: 0.5vh;
  border-radius: 2rem;
  display: grid;
  grid-template-columns: 0.6fr 1.8fr 0.6fr;
  margin-bottom: 1.5vh;
  box-shadow: 0 0 0.5vh 0.5vh rgba(37, 37, 37, 0.377);
}

.appointment {
  display: grid;
  place-items: center;
  background-color: #4141418c !important;
}

.appointment > form {
  display: flex;
  flex-direction: column;
  padding: 5vh 5vw;
  border-radius: 1rem;
  justify-content: space-around;
}

.appointment > form > * {
  margin: 0.5vh;
}
.bookingButton {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-self: flex-end;
  align-items: center;
}
.bookingButton > button {
  border-radius: 1rem;
}
.doctorDetails {
  background-color: #9696965b;
  display: flex;
  flex-direction: column;
  padding: 1vh;
  width: 100%;
}
.doctorProfile > span {
  overflow-x: ellipsis;
}
.doctorDetails > span {
  margin-top: 0.2vh;
  padding: 0 1vw;
}
.doctorProfile {
  padding: 1.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.window {
  margin: 1vh;
  padding: 1vh;
  background-color: #96969642;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  width: 100%;
}
@keyframes slide-in {
  from {
    margin-left: -100rem;
  }

  to {
    margin: 1rem;
  }
}

@keyframes appear {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

.sideBar {
  display: flex;
  width: 20vw;
  flex-direction: column;
  grid-template-columns: 20vh;
  grid-row-gap: 0px;
  padding: 0.5rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  animation: 2s ease 1s appear;
}
.profileHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(20vw - 1rem);
  height: 30vh;
  border-top-left-radius: 2rem;
  margin-bottom: 1vh;
}

#profilePic {
  border-radius: 7.5vh;
  height: 15vh;
  width: 15vh;
  padding: 1rem;
}
.sideBarButton {
  border: none;
  height: min-content;
  width: calc(20vw - 1rem);
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding: 1rem;
}

.sideBarButton > object {
  pointer-events: none;
  height: 5vh;
}

#navigator {
  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: rgba(111, 111, 111, 0.166);
  margin: 0 25vh;
  border-radius: 5vw;
  padding: 1vh 1vw;
  transform: scale(0.8);
}

#navigator > button {
  display: grid;
  place-items: center;
  outline: none;
  border-radius: 15px;
  margin: 0 0.5vw;
  height: 45px;
  width: 45px;
  border: none;
  font-size: 30px;
  vertical-align: middle;
  text-align: center;
}

#navigator > button > img {
  height: 30px;
  width: 30px;
  filter: invert(1) brightness(0.8) sepia(1) saturate(2000) hue-rotate(132deg);
  /* #0180e5 */
}
