#root {
    display: grid;
    background-color: rgba(255, 255, 255, 0.056);
    padding: 5vw 5vh;
    margin: 1vw 1vh;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0.8, 0.8, 0.8, 0.2);
}
#display {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    gap: 3vh;
}

.Dropdown-root {
    align-self: flex-start;
    justify-self: flex-start;
    max-width: 250px;
}

.Dropdown-control {
    border-radius: 15px;
    border: none;
    width: 250px;
}

.Dropdown-menu {
    border: none;
}

.Dropdown-arrow {
    vertical-align: middle;
    margin-top: 2.5px
}

.search-bar {
    background: none;
    border: none;
    outline: none;
}
input.search-bar {
    width: 100%;
}
.search-bar-div {
    display: flex;
    width: 80vw;
    border-radius: 15px;
    padding: 0.5vw 2vh;
    margin-right: 15px;

}

.search-bar-div > button {
    align-self: flex-end;
}


#dropDown-bar {
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
}

#dropDown-bar > * {
    margin-left: 20px;
} 