#root {
    display: grid;
    background-color: rgba(255, 255, 255, 0.056);
    padding: 5vw 5vh;
    margin: 1vw 1vh;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0.8, 0.8, 0.8, 0.2);
}
#display {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    gap: 3vh;
}

.Dropdown-root {
<<<<<<< HEAD
    max-width: 15vw;
=======
    align-self: flex-start;
    justify-self: flex-start;
    max-width: 250px;
>>>>>>> hospitals
}

.Dropdown-control {
    border-radius: 15px;
    border: none;
<<<<<<< HEAD
=======
    width: 250px;
>>>>>>> hospitals
}

.Dropdown-menu {
    border: none;
}

.Dropdown-arrow {
    vertical-align: middle;
    margin-top: 2.5px
}

.search-bar {
    background: none;
    border: none;
    outline: none;
}
input.search-bar {
    width: 100%;
}
.search-bar-div {
    display: flex;
    width: 80vw;
    border-radius: 15px;
    padding: 0.5vw 2vh;
    margin-right: 15px;

<<<<<<< HEAD
    justify-content: space-between;
}

.search-bar-div > button {
    margin-right: 15px;
=======
}

.search-bar-div > button {
>>>>>>> hospitals
    align-self: flex-end;
}


#dropDown-bar {
<<<<<<< HEAD
    display: block;
    flex-direction: row; 
    justify-content: space-around;
=======
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
>>>>>>> hospitals
}

#dropDown-bar > * {
    margin-left: 20px;
<<<<<<< HEAD
} 
=======
} 

#navigator {
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: rgba(111, 111, 111, 0.166);
    margin: 0 25vh;
    border-radius: 5vw;
    padding: 1vh 1vw;
    transform: scale(0.8)
}

#navigator > button {
    display: grid;
    place-items: center;
    outline: none;
    border-radius: 15px;
    margin: 0 0.5vw;
    height: 45px;
    width: 45px;
    border: none;
    font-size: 30px;
    vertical-align: middle;
    text-align: center;
}

#navigator > button > img {
    height: 30px;
    width: 30px;
    filter: invert(1) brightness(0.8) sepia(1) saturate(2000) hue-rotate(132deg);
    /* #0180e5 */
}
>>>>>>> hospitals
