/* colors are subject to change*/
body {
	background: lightcoral;
}

form {
	background: rosybrown;
}

.notice {
    background-color: rgba(255, 255, 255, 0.3);
    border-color: rgb(186, 154, 0);
}

.navbar {
    background-color: gray;
}

.navbar > button {
    border-color: whitesmoke;
}


svg {
	fill: whitesmoke;
}

.navbar > button:hover {
    background-color: rgb(0, 0, 51);
}