*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;

	z-index: 1;
	padding-top: 25vh;
}
.form-container {
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
	border-radius: 10px;
	padding: 30px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5)
}

.form-control {
	display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.notice {

    justify-content: center;
	align-items: center;

	margin-top: 1.5rem;
	margin-bottom: 1.5rem;

	margin-right: 20rem;
	margin-left: 20rem;

	padding: 0.2rem;
	border-radius: 10px;
	display: flex;
}
.notice * {
	margin-bottom: 0.2rem;
	border-left-width: 1rem;
	border-left-style: solid;

}

.danger {
	border-color: #FB3640;
}

.tip {
	border-color: #38c09a;
}

.navbar {
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	display: flex;
	margin-left: 0;
	padding: .5rem 1rem;

	flex-flow: row-reverse nowrap;
	flex-basis: auto;

	justify-content: space-around;
	align-items: center;

	transform: translateZ(20px);
	z-index: 99;
}

.navbar-collapse {
	flex-direction: row;
	align-items: center;
	margin-right: auto !important;

	margin-top: auto;
	margin-bottom: auto;

	padding: initial;
}


.navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}

.nav-link {
	padding-right: .5rem;
    padding-left: .5rem;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar > button {
    margin-left: 0.1rem;
	height: 30px;
	border-radius: 32px;
	appearance: none;
	outline: none;
    background-color: Transparent;
	
	display: inline-block;
	vertical-align: middle;
}

.navbar > button > div, .navbar > button > div > svg {
	display: inline-block;
	vertical-align: middle;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

dd {
    margin-bottom: .5rem;
    margin-left: 0;
}


::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;        
}   

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: lightgray;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.75);  
	box-shadow: 0 0 1px rgba(255,255,255,.75);      
}

h1 {
    text-align: center;
    font-size: 2.5rem;
}
p {
	color: #004890;
    margin-top: 0;
    margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

ul {
  list-style-type: none;
}

a {
	text-decoration: none;
}

.waves {
    position: fixed;
    right: 0px;
    left: 0px;
    bottom: -20px;
    overflow: hidden;	
	transform: translateZ(-10px);
	z-index: -1;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
	
	justify-content: center;
}

button {
    appearance: none;
    outline: none;
	border-radius: 4px;
	background-color: transparent;
	border-style: solid;
	transform: translateZ(10px);
} 

button:active {
	outline: none;
}

button:focus {
	outline: none;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

button:hover {
	cursor: pointer;
}
