body {
	padding-top: 25vh;	
}
.form-container {
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
	border-radius: 10px;
	padding: 30px;
}

.notice {
    
    justify-content: center;
	align-items: center;

	margin-top: 1.5rem;
	margin-bottom: 1.5rem;

	margin-right: 20rem;
	margin-left: 20rem;

	padding: 0.2rem;
	border-radius: 10px;
	display: flex;
}
.notice * {
	margin-bottom: 0.2rem;
	border-left-width: 1rem;
	border-left-style: solid;

}

.danger {
	border-color: #FB3640;
}

.tip {
	border-color: #38c09a;
}

.navbar {
	position: fixed;
	top:0;
	width: 100%;
	display: flex;

	flex-direction: row-reverse;
}


.navbar > button {
    margin-left: 0.1rem;
	margin-right: 0.1rem;
	margin-top: 4px;
	align-self: flex-start;
	border-radius: 2rem;
	appearance: none;
	display: flex;
	outline: none;
    background-color: Transparent;
}

.navbar > button > svg {
	justify-content: center;
}

p {
	color: #004890;
}

.waves {
	position: fixed;
	inset: 2px;
	bottom: -200px;
}


#statsHolder {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	background-color: #2626267e;
	margin-left: 3rem;
	margin-right: 3rem;
	border-radius: 15px;
	padding: 2rem;
}

#statsHolderSmall{
	margin-left: 3rem;
	margin-right: 3rem;
	border-radius: 15px;
	padding: 0.5rem;
}
.highlight {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	
	border-style: solid;
	border-radius: 12px;
	
	padding: 2ch;
	margin-top: 2ch;

}

.highlight > p {
	font-size: large;
}

button {
    appearance: none;
    outline: none;
	border-radius: 4px;
	background-color: transparent;
	border-style: solid;
	color: #0080ff
} 

button:active {
	outline: none;
}

button:focus {
	outline: none;
}