:root {
    --primary: #0bf3ff;
}
/* colors are subject to change*/

body {
    color: #0a9aa1;
}
a:link{
    color:#0a9aa1;
}
a:visited{
    color:#00ADB5;
}

a:after{
    color: #00ADB5;
}
body {
	background: #222831;
}

form {
	background: #393e468c;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #00ADB5;
    padding-bottom: 20px;
}

.notice {
    margin: auto;
    background-color: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.493);
}

.navbar {
    background-color: rgb(0, 12, 16);
}

.navbar > button {
    border-color: rgb(0, 187, 255)
}

svg {
	fill: rgb(0, 187, 255);
}

.navbar > button:hover {
    background-color: rgb(0, 0, 0);
}

label {
    color: #00ADB5;
}

p, span {
    color: #1f969c
}

h1 {
    color: var(--primary);
}

h3 {
    color: #00bdc7
}

.highlight {
    background-color: #21262d !important;
}

button.active {
    background-color: #0000006d;
}

#statsHolder{
    background-color: #393e468c;
    box-shadow: 5px 5px 5px rgba(0.2, 0.2, 0.2, 0.5);
}

li {
    color:rgb(0, 187, 255);
}

#lightwaves { display: none; }

button{
    color:#00bdc7;
    font:#00bdc7;
}   

.scrollable-menu > li {
    color: var(--primary);
}

.form-control {
    background-color: #1d2531;
    border: 1px solid #21262d;
    color: #c9d1d9;
}

.search-bar-div, .Dropdown-control, .Dropdown-option {
    background-color: #21262d !important;
}

.search-bar, .Dropdown-control, .Dropdown-option {
    color: #efefef !important;
}
.is-open {
    background-color: #000c10af !important;
}

.NavDropDown-option {
    background-color: #000c10af !important;
    color: #08adb6 !important;
}
.NavDropDown-menu {
    background-color: transparent !important;
    padding-top: 7px;
    border: 1px solid #000c10af !important;
}
.NavDropDown-option:hover {
    background-color: rgb(0, 60, 79) !important;
}

.Dropdown-option.is-selected {
    background-color: rgb(28, 28, 28) !important;
}

::-webkit-scrollbar-track {
    background-color:  rgb(136, 136, 136);
}
::-webkit-scrollbar-thumb {
    background-color: rgb(82, 82, 82);
}

#navigator > button {
    background-color: #21262d;
}

#navigator > button:disabled {
    background-color: hsl(215deg 5% 18%);
}

#hospitalsTable {
    background-color: #171a1f;
}

.header {
    background-color: #16171a !important;
}

.hospitalTableRow {
    background-color: #21262d
}
.region {
    background-color: #161f2c
}
#blogout {
    border: 5px ;
    padding:30px;
    border-radius: 10px;
    word-wrap: break-word;      
    width:700px;
    background-color: #393e468c;
    margin:20px;
}

.blog {
    border: 5px  ;
    width: 600px;
    word-wrap: break-word;
    background-color: #1d2531;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    margin: 10px;
    color:#c9d1d9;
}