/* colors are subject to change*/
h1{
    font-family: Consolas,monaco,monospace; 
}
p1{
    font-family: Consolas,monaco,monospace; 
}
a:link{
    color:rgb(87, 158, 132);
}
a:visited{
    color:rgb(87, 158, 132);
}

a:after{
    color:rgb(87, 158, 132);
}

body {
	background: #fffef4;
}

form {
	background: #b4eed3d8;
    font-style: italic;
    font-family: Consolas,monaco,monospace; 
    padding-bottom: 20px;
}

.notice {
    background-color: rgb(195 195 195 / 30%);
    color: #5C8D89;
}

.navbar {
    background-color: #faebd7;
    font-family: Consolas,monaco,monospace; 
}

.navbar > button {
    border-color:rgb(95, 170, 141);
}

svg {
	fill: rgb(95, 170, 141) ;
}

.navbar > button:hover {
    background-color: rgb(0, 0, 51);
}


#darkwaves { display: none;}

label, p, span, h1, h3 {
    color: #4a706d;
}

.highlight, #regionalData {
    border-color: #394943;
}

button.active {
    background-color: #faebd7ab;
}


li {
    color:#647d74;
}

.scrollable-menu > li {
    color: #566f65;
}

#statsHolder{
    background-color:#b4eed3d8;
    box-shadow: 5px 5px 5px rgba(0.2, 0.2, 0.2, 0.5);
}

button{
    color:#5C8D89;
}

.search-bar-div {
    background-color: #ffffff;
}
#navigator > button {
    background-color: ivory;
}

#navigator > button > img {
    filter: invert(1) brightness(0.5) sepia(1) saturate(20) hue-rotate(77deg) !important;
}

#hospitalsTable {
    background-color: #e8e8e8;
}
.header {
    background-color: #bfbfbf !important;
}
.hospitalTableRow {
    background-color: #fffef4
}
.is-open {
    background-color: #FFF2DB !important;
}

.NavDropDown-option {
    background-color: #FFF2DB !important;
}
.NavDropDown-menu {
    background-color: transparent !important;
    border: 1px solid #FFF2DB !important;
}
#blogout {
    border: 5px ;
    padding:30px;
    border-radius: 10px;
    word-wrap: break-word;      
    width:700px;
    background-color: #b4eed3d8;
    margin:20px;
    font-family: Consolas,monaco,monospace; 
}

.blog {
    border: 5px  ;
    width: 600px;
    word-wrap: break-word;
    background-color: #fffef4;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    margin: 10px;
    font-family: Consolas,monaco,monospace; 
}

#intro {  
    background-color: #faebd7bf;
    color:#344F4D;
    box-shadow: 10px 5px 5px rgba(153, 153, 153, 0.5);
}

.sideBar {
   background-color: rgba(153, 153, 153, 0.5);
}

#dash {
    background-color: rgba(208, 208, 208, 0.8);
}

.profileHolder {
    background-color: #f2f2f2b4;
}

#profilePic {
    background-color: #ffffff;
}

.sideBarButton.active {
    background-color: #d1d1d1;
}

.doctor {
    background-color: #cecece8f;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}

.doctorProfile {
    background-color: rgba(240, 240, 240, 0.363);
}

.doctorDetails > span {
    background-color: #c7c7c7d7;
}

