/* colors are subject to change*/
a:link{
    color:rgb(87, 158, 132);
}
a:visited{
    color:rgb(87, 158, 132);
}

a:after{
    color:rgb(87, 158, 132);
}

body {
	background: #fffef4;
}

form {
	background: #b4eed3d8;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 20px;
}

.notice {
    margin: auto;
    background-color: rgba(255, 255, 255, 0.3);
    border-color: #5C8D89;
}

.navbar {
    background-color: #faebd7;
}

.navbar > button {
    border-color:rgb(95, 170, 141);
}

svg {
	fill: rgb(95, 170, 141) ;
}

.navbar > button:hover {
    background-color: rgb(0, 0, 51);
}


#darkwaves { display: none;}

label, p, span, h1, h3 {
    color: #4a706d;
}

.highlight, #regionalData {
    border-color: #394943;
}

button.active {
    background-color: #faebd7ab;
}


li {
    color:#A7D7C5;
}

.scrollable-menu > li {
    color: #566f65;
}

#statsHolder{
    background-color:#b4eed3d8;
    box-shadow: 5px 5px 5px rgba(0.2, 0.2, 0.2, 0.5);
}

button{
    color:#5C8D89;
}

.search-bar-div {
    background-color: #ffffff;
}
#navigator > button {
    background-color: ivory;
}

#navigator > button > img {
    filter: invert(1) brightness(0.5) sepia(1) saturate(20) hue-rotate(77deg) !important;
}

#hospitalsTable {
    background-color: #e8e8e8;
}
.header {
    background-color: #bfbfbf !important;
}
.hospitalTableRow {
    background-color: #fffef4
}
#blogout {
    border: 5px ;
    padding:30px;
    border-radius: 10px;
    word-wrap: break-word;      
    width:700px;
    background-color: #b4eed3d8;
    margin:20px;
}

.blog {
    border: 5px  ;
    width: 600px;
    word-wrap: break-word;
    background-color: #fffef4;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    margin: 10px;
}