{% extends "base.html"%}
{% from "formhelpers.html" import render_field %}

{%block title%}
	Admin Login
{%endblock title%}

{% block body%}
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 col-sm-6 col-md-4">
				<form action={{url_for('admins.admin_create')}} method="post" class="form-container" name="bloginput">
					{{ render_field(form.username, class="form-control", placeholder="Username" )}}
                    {{ render_field(form.password, class="form-control", placeholder="Password" )}}
					{{ form.hidden_tag() }}
                    <button name="action_save" type="submit" class="btn btn-primary btn-block">
						Login
					</button>
				</form>
			</div>
		</div>
	</div>
{%endblock body%}