{% extends "base.html"%}
{% from "formhelpers.html" import render_field %}

{%block title%}
	Login
{%endblock title%}

{% block body%}
	{% for blogentry in out %}
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 col-sm-6 col-md-4">
				<div>
					{{blogentry[2]}} <!--this is the authour of the blogpost -->
					{{blogentry[1]}} <!--this is the title--> 
					{{blogentry[4]}} <!--this is the date for testing purpouses--> 
					{{blogentry[3]}} <!--this is the contnet of the data-->
				</div>	
			</div>
		</div>
	</div>
	{% endfor %}
{%endblock body%}