{% extends "base.html"%}

{% block title %}
Dashboard
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/modules/dashboard.css') }}" type="text/css">

<!-- Mobile CSS -->
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/modules/dashboard_mobile.css') }}"
    media="only screen and (max-device-width: 480px)" h /> -->
<script>
    window.doctors = JSON.parse('{{ doctors|tojson }}');
    window.requests = JSON.parse('{{ requests|tojson }}');
</script>
{% endblock head %}

{% block body %}

<div id="root">
    <!-- REACT INSERT -->
</div>
<script src="{{ url_for('static', filename='build/dashboard.js') }}" type="module"></script>
{% endblock body %}
