<html>
    <head>       
    </head>
    <body>
        <h3 style='text-align:center;'> This otp is to confirm your registration with our site gocoronago </h3>
        <form action={{ url }} method='POST' class="form-container" name="login form">
            <button name="action_save" type="submit" class="btn btn-primary btn-block" 
                    style="background-color: #008891; cursor:pointer; border-radius: 4px; width: 250px;
                    text-align: center; color: white; display: center; padding: 14px 40px; margin: auto; display: grid;
                    padding: 10px; font-size:large; font-family:consolas ;">
                Click Here To Verify Email
            </button>
        </form>
        <h2 style='text-align: center;'>
            Button Not Working?
            Your OTP IS 
            <strong>
                <h1>{{otp}}</h1>
            </strong>
        </h2>
    </body>
</html>