{% extends "base.html"%}

{%block title%}
	GoCoronaGo
{%endblock title%}

{% block body%}
    <div id = "intro">
        <div class = 'intro_doc'>
	        <h1 style="font-size:40px"; >Project - GoCoronaGo</h1>
            <p1 style="font-size:15px">
                <br>This project was started in lieu with the Covid-19 pandemic. This website aims to allow users to <br>
                <ul style="list-style-type: disc">
                    <li>Show bed statistics and details of availability in nearby hospitals</li>
                    <li>Allow for the users to post and view local covid related information via blog posts</li>
                    <li>Book appointments with doctors for a fee after logging in</li>
                    <li>Allow for doctors to accept and get in touch with patients requesting their services</li>
                </ul>
            </p1>
            <p3 style="font-size:12px">
                <br>
                This project was made with <a href="https://www.python.org/" class="highlight">Python</a>, <a href="https://www.palletsprojects.com/p/flask/" class="highlight">Flask</a>, <a href="https://jinja.palletsprojects.com/en/3.0.x/" class="highlight">Jinja</a>, <a href="https://www.postgresql.org/" class="highlight">PostgreSQL</a> and <a href="https://reactjs.org" class="highlight">ReactJS</a>
            </p3>
            <h4>Created by </h4>
            <p2 style="font-size:13px; text-align:left;">
                
                <ul style="list-style-type: disc">
                    <li>Aniruddhan V</li>
                    <li>Harikeshavan B</li>
                    <li>Jitesh D </li>
                </ul>
            </p2>
        </div>
    </div>
{%endblock body%}