{% extends "base.html"%}

{%block title%}
	GoCoronaGo
{%endblock title%}

{% block body%}
    <div id = "intro">
        <div class = 'intro_doc'>
	        <h1 style="font-size:40px"; >Project - Gocoronago</h1>
            <p1 style="font-size:15px">
                <br>This project was started in lieu with the Covid-19 pandemic. This website aims to allow users to <br>
                a &#x29 show bed statistics and deatails of availability in nearbu hospitals <br>
                b &#x29 allow for the users to post and view local covid related information via blog posts <br>
                c &#x29 book appointments with doctors for a fee after logging in <br>
                d &#x29 allow for doctors to accept and get in touch with patients requesting their services <br>
            </p1>
            <p3 style="font-size:12px">
                <br>
                This app was done by using Python ,Flask ,Jinja ,MySQL and a bit of ReactJS
            </p3>
            <p2 style="font-size:13px; text-align:left;">
                <br><br>
                <br>Created by- &nbsp;&nbsp; <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;D Jitesh<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B Harikeshavan<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aniruddhan V<br>
            </p2>
        </div>
    </div>
{%endblock body%}