{% extends "main.html"%}
{% from "formhelpers.html" import render_field %}

{%block title%}
	Login
{%endblock title%}

{% block body%}
	{% with messages = get_flashed_messages() %}
	{% if messages %}
		<ul class="flashes">
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
		</ul>
	{% endif %}
	{% endwith %}

	{% if msg %}
		{% if "RED" in msg %}
			<div class="notice danger">
			{{ msg.replace('RED', '')}}
		{% elif "GREEN" in msg %}
			<div class="notice tip">
			{{ msg.replace('GREEN', '')}}
		{% else %}
			<div class="notice">
			<p>{{ msg }} </p>
		{% endif %}
		</div>
	{% endif %}
	<section class="container-fluid">
		<section class="row justify-content-center">
			<section class="col-12 col-sm-6 col-md-4">
				<form action="." method='POST' class="form-container" name="login form">
					{{ render_field(form.username, class="form-control", placeholder="Enter Email", )}}
					{{ render_field(form.password, class="form-control", placeholder="Enter Password")}}
					{{ form.hidden_tag() }}					
					<button name="action_save" type="submit" class="btn btn-primary btn-block">
						Submit
					</button>
					<div class="form-footer">
						<p> <!--ideally we enter the webpage name--></p>
						<p> Don't have an account? <a href="{{url_for('register')}}">Register</a></p>
					</div>
				</form>
			</section>
		</section>
	</section>
{%endblock body%}