{% from "formhelpers.html" import render_field %}

    <h1>Login</h1>
    {{ msg }}
	<div class="row">
        <form action={{url_for('register')}} method="post" class="form form-horizontal" name="registerform">
            {{ render_field(form.username, class="form-control") }}
            {{ render_field(form.email, class="form-control") }}
            {{ render_field(form.password, class="form-control") }}
            {{ render_field(form.confirm, class="form-control") }}
            {{ form.hidden_tag() }}
            <button type="submit">Register</button>
        </form>
	</div>