{% extends "base.html"%}

{% block title %}
	Covid Stats
{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modules/stats.css') }}" type="text/css">

    <!-- Mobile CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modules/stats_mobile.css') }}" media="only screen and (max-device-width: 480px)" h/>
{% endblock head %}

{% block body %}

    <div id="statsHolder">
        <!-- REACT INSERT -->
    </div>
    <script src="{{ url_for('static', filename='build/stats.js') }}" type="module"></script>
{% endblock body %} 
