{% extends "base.html"%}

{% block title %}
	Covid Stats
{% endblock title %}

{% block head %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modules/stats.css') }}">

    <!-- Mobile CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/modules/stats_mobile.css') }}" media="only screen and (max-device-width: 480px)" h/>
{% endblock head %}

{% block body %}

    <div id="statsHolder">
        <div id="selector">
            <button class="active">Cases</button>
            <button>Testing</button>
            <button>Beds</button>
        </div>
        <div id="statsDisplayBounds">
            <div id="statsDisplay">
            </div>
            <div id="regionalData" style="display: none;">
                <div id="dropDown">
                    <span id="regionalSelectedStats">Tamil Nadu</span>
                    <ul id="regionalDropDownMenuList" style="display: none" class="scrollable-menu dropdown">
                    </ul>
                </div>
                <div id="regionalStatsDisplay"></div>
            </div>
        </div>
        
    </div>
   
    <script src="{{ url_for('static', filename='scripts/stats.js') }}"></script>
{% endblock body %}